<div class="container">
  <div class="tabs">
    <div *ngFor="let tab of tabs"
      class="tab"
      [ngClass]="{'selected': tab.value === currentTab}"
      (click)="clickTab(tab.value)">
      {{ tab.title }}
    </div>
  </div>

  <ng-container [ngSwitch]="currentTab">
    <ng-container *ngSwitchCase="'all'">
      <div class="images">
        <div *ngFor="let image of images" class="image">
          <img [src]="image.url" />
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
      <div class="images">
        <div *ngFor="let image of images" class="image">
          <img [src]="image.url" />
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'album'">
      <div *ngIf="!viewAlbum" class="albums">
        <div *ngFor="let album of albums" class="album" (click)="clickAlbum(album._id)">
          <img *ngIf="album.imageUrl" [src]="album.imageUrl" class="image" />
          <div class="background">
            {{ album.title }}
          </div>
        </div>
        <div class="album" (click)="createAlbum()">
          <div class="background">추가</div>
        </div>
      </div>

      <div *ngIf="viewAlbum">
        <div class="back">
          <button (click)="back()">←</button>
        </div>
        <div class="images">
          <div *ngFor="let image of albumImages" class="image">
            <img [src]="image.url" />
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="footer">
  <button class="footer-btn" (click)="addImage()">추가</button>
</div>
