<div class="container">
  <!--
  <div class="create_btn">
    <button (click)="createAlbum()">앨범 생성</button>
  </div>
  -->

  <div class="tabs">
    <div *ngFor="let tab of tabs"
      class="tab"
      [ngClass]="{'selected': tab.value === currentTab}"
      (click)="clickTab(tab.value)">
      {{ tab.title }}
    </div>
  </div>

  <div class="images">
    <div *ngFor="let image of images" class="image">
      <img [src]="image.url" />
    </div>
  </div>

  <div class="upload_file">
    <input type="file" (change)="fileChange($event)" />
  </div>
  <div class="upload_button">
    <button (click)="upload()">Upload</button>
  </div>
</div>

<div class="footer">
  <button class="footer-btn" (click)="addSchedule()">추가</button>
</div>
