<div class="sidenav">
  <div class="nav-list">
    <div *ngFor="let club of clubs"
      class="club-item">
      <div class="item">
        <div class="title" (click)="club.expanded = !club.expanded">{{club.title}}</div>
        <div class="right">{{club.expanded ? '˅' : '˄'}}</div>
      </div>
      <ng-container *ngIf="club.expanded">
        <div class="club-schedule"
          routerLink="{{club._id}}/schedule"
          [routerLinkActive]="'active'">
          일정
        </div>
        <div class="club-gallery"
          routerLink="{{club._id}}/gallery"
          [routerLinkActive]="'active'">
          갤러리
        </div>
      </ng-container>
    </div>
  </div>
  <div class="add-team" (click)="addClub()">
    <span>모임 추가</span>
  </div>
</div>
