@import "mixin";

.sidenav {
  width: $sidenav-width;
  border-right: 1px solid $primary;

  &.show {
    transform: translateX(0);
  }

  &.hide {
    transform: translateX(-$sidenav-width);
  }
}

.nav-list {
  position: relative;
  height: calc(100vh - #{$navbar-height} - 50px);
  max-height: calc(100vh - #{$navbar-height} - 50px);
  overflow-y: auto;

  .club-item {
    height: 50px;
    padding: 0 5px;
    @include text-height("auto", 50px, 13px, 500);
    border-bottom: 1px solid $primary;
  }
}

.add-team {
  display: flex;
  align-items: center;
  color: $white;
  font-weight: 700;
  background: $primary;
  height: 50px;
  padding: 0 16px;
  cursor: pointer;

  o2-icon {
    font-size: 24px;
  }

  span {
    padding-left: 12px;
  }
}
