@import "mixin";

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sideMenu {
  display: flex;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;

  .content {
    display: flex;
    flex: 1;
  }
}
