<div class="wrapper">
  <section class="container">
    <form action="">
      <fieldset>
        <legend class="title">회원가입</legend>
        <div class="input-item">
          <label for="id">아이디</label>
          <input id="id" type="text" [(ngModel)]="uid" (ngModelChange)="changeUID()" [ngModelOptions]="{standalone: true}" />
          <div class="right-item">
            <button *ngIf="!validUID" class="check_uid" (click)="checkUid()">중복 확인</button>
            <span *ngIf="validUID" class="check_mark">✓</span>
          </div>
        </div>
        <div class="input-item">
          <label for="pw">비밀번호</label>
          <input id="pw" type="password" [(ngModel)]="pw" (ngModelChange)="changePW()" [ngModelOptions]="{standalone: true}" />
          <div class="right-item">
            <span *ngIf="validPW" class="check_mark">✓</span>
          </div>
        </div>
        <div class="input-item">
          <label for="pwConfirm">비밀번호 확인</label>
          <input id="pwConfirm" type="password" [(ngModel)]="pwConfirm" (ngModelChange)="changePW(true)" [ngModelOptions]="{standalone: true}" />
          <div class="right-item">
            <span *ngIf="validPWConfirm" class="check_mark">✓</span>
          </div>
        </div>
        <div class="input-item">
          <label for="email">이메일</label>
          <input id="email" type="email" [(ngModel)]="email" (ngModelChange)="changeEmail()" [ngModelOptions]="{standalone: true}" />
          <div class="right-item">
            <span *ngIf="validEmail" class="check_mark">✓</span>
          </div>
        </div>
        <div class="input-item">
          <label for="last">성</label>
          <input id="last" type="text" [(ngModel)]="last" (ngModelChange)="checkDone()" [ngModelOptions]="{standalone: true}" />
          <div class="right-item">
            <span *ngIf="last" class="check_mark">✓</span>
          </div>
        </div>
        <div class="input-item">
          <label for="first">이름</label>
          <input id="first" type="text" [(ngModel)]="first" (ngModelChange)="checkDone()" [ngModelOptions]="{standalone: true}" />
          <div class="right-item">
            <span *ngIf="first" class="check_mark">✓</span>
          </div>
        </div>
        <div class="input-item">
          <label for="nickname">닉네임</label>
          <input id="nickname" type="text" [(ngModel)]="nickname" (ngModelChange)="checkDone()" [ngModelOptions]="{standalone: true}" />
          <div class="right-item">
            <span *ngIf="nickname" class="check_mark">✓</span>
          </div>
        </div>

        <div class="btn-container">
          <button class="signUp" (click)="done()" [ngStyle]="{opacity: isDone ? '1' : '0.4'}" [disabled]="!isDone">회원가입</button>
          <button class="goToLogin" (click)="goToLogin()">로그인하기</button>
        </div>
      </fieldset>
    </form>
  </section>
</div>
