@import "mixin";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.schedule-container {
  flex: 1;
  .calendar {
    .calendar-header {
      text-align: center;
      font-weight: 600;
      .arrow-btn {
        display: inline-block;
        font-size: 17px;
        background: transparent;
        border: 0px solid $black;
      }
      .viewDate {
        display: inline-block;
      }
    }
  }
}

.footer {
  height: 100px;
  text-align: right;
  margin: 25px;
  .footer-btn {
    width: 50px;
    height: 50px;
    color: $primary;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid $primary;
    border-radius: 50%;
  }
}
