<div class="wrapper">
  <section class="container">
    <form action="">
      <fieldset>
        <legend class="title">로그인</legend>

        <!-- <p class="error" *ngIf="showErrorMsg">{{ 'INVALID_ACCOUNT_OR_PW' | translate }}</p> -->

        <p class="input-item">
          <label for="id">아이디</label>
          <input id="id" type="text" [(ngModel)]="id" class="id" [ngModelOptions]="{standalone: true}">
        </p>
        <p class="input-item">
          <label for="password">비밀번호</label>
          <input id="password" type="password" [(ngModel)]="pw" class="password" [ngModelOptions]="{standalone: true}">
        </p>

        <div class="auto_login">
          <input type="checkbox" [(ngModel)]="autoLogin" [ngModelOptions]="{standalone: true}" /> 자동 로그인
        </div>

        <div class="btn-container">
          <button (click)="login()" class="login">로그인</button>
          <button (click)="signIn()" class="signIn">회원가입</button>
        </div>
      </fieldset>
    </form>
  </section>
</div>
